<!-- We will use a component find to search the things -->

<div *ngFor="let item of [1, 4, 8, 9]">
  <p>Number of items is {{ item }}</p>
</div>
<div><app-find></app-find></div>
<app-filter
  [all]="getAll()"
  [available]="getAvailable()"
  [notavailable]="getNotAvailable()"
  (filterradiobuttonSelctionChange)="onFilterRadioButtonChange($event)"
></app-filter>
<ng-container *ngFor="let p of pro; let i = index">
  <div
    *ngIf="
      productCountRadioButton === 'All' || productCountRadioButton === p.details
    "
  >
    <div>
      <p>{{ i }}</p>
      <span>Product id is {{ p.id }}</span>
      <br />
      <span>Product name is {{ p.name }}</span>
      <br />
      <span>Product PhoneNumber is is {{ p.phNumber }}</span>
      <br />
      <span [ngStyle]="{ color: p.details === 'availabe' ? 'Green' : 'Red' }"
        >Product is {{ p.details }}</span
      >
      <br />
      <button
        class="btn btn-success"
        *ngIf="p.details === 'availabe'; else notify"
      >
        Buy
      </button>
      <ng-template #notify>
        <button class="btn btn-warning">Notify</button></ng-template
      >
    </div>
  </div>
</ng-container>
