<span>Filter</span> &nbsp;&nbsp;
<input
  type="radio"
  name="filter"
  value="All"
  [(ngModel)]="selectedButtonValue"
  (change)="onRadioButtonSelectionChange()"
/>
All coursess({{ all }})&nbsp; &nbsp;
<input
  type="radio"
  name="filter"
  value="Available"
  [(ngModel)]="selectedButtonValue"
  (change)="onRadioButtonSelectionChange()"
/>
Available({{ available }})&nbsp; &nbsp;
<input
  type="radio"
  name="filter"
  value="Notavailable"
  [(ngModel)]="selectedButtonValue"
  (change)="onRadioButtonSelectionChange()"
/>
NotAvailable({{ notavailable }})<br />
